# Core libraries
pyrogram==2.0.106
tgcrypto
python-dotenv
pymongo
aiohttp
requests
openai
deepai
pillow
pyzipper
youtube_dl
yt_dlp
bs4
googletrans==4.0.0rc1
gTTS
SpeechRecognition
pydub
moviepy
PyPDF2
pytube
python-telegram-bot
emoji
beautifulsoup4
selenium
pyscreenshot
pyautogui
python-barcode
reportlab
translate
fpdf
langdetect
textblob
nltk
fuzzywuzzy
python-Levenshtein
numexpr
schedule
psutil
opencv-python
tqdm
pyshorteners
pywhatkit
python-magic
scikit-learn
pyqrcode
pyaes
py7zr
rarfile
telegraph