# Telegram Core
pyrogram==2.0.106
tgcrypto

# Env & Config
python-dotenv
pymongo
requests
aiohttp

# AI Engines
openai
deepai

# Zip & Archive Tools
pyzipper
pyaes
py7zr
rarfile

# File & Web Utils
youtube_dl
yt_dlp
pytube
bs4
pillow
opencv-python
python-magic
moviepy
pydub
fpdf
PyPDF2
reportlab
telegraph

# Translator + Language
googletrans==4.0.0rc1
translate
langdetect
textblob
nltk

# Voice & Speech
gTTS
SpeechRecognition

# NLP & Word Games
fuzzywuzzy
python-Levenshtein

# Other Utilities
emoji
pyshorteners
pywhatkit
pyscreenshot
pyautogui
selenium
python-barcode
numexpr
schedule
psutil
scikit-learn
tqdm
deep-translator
langdetect
beautifulsoup4
requests
tgcrypto
bs4